*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --topLeft: 0;
    --topRight: 0;
    --bottomRight: 0;
    --bottomLeft: 0;
}

body{
    background-color: #3A405A;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container{
    font-family: inherit;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: #AEC5EB;
    width: 250px;
    height: 250px;
    margin-right: 2rem;
    border-radius: var(--topLeft) var(--topRight) var(--bottomRight) var(--bottomLeft);
}

.aside {
    min-height: 100%;
    height: 95vh;
    border: 3px solid #AEC5EB;
    border-radius: 15px;
    padding: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control{
    display: flex;
    flex-direction: column;
}

input[type=number] {
    padding: 0.25rem;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 0.25rem;
}

input::placeholder{
    font-size: 1rem;
    opacity: .3;
    font-family: inherit;
}

input:focus{
    outline: 2px solid #AEC5EB;
    outline-offset: .1rem;
    -moz-outline-radius: 5px
}

.css-box{
    background-color: #fff;
    width: 250px;
    height: 250px;
    color: #000;
}
